<h3>Nouveau mot de passe</h3>
<br></br>
Bonjour, votre nouveau mot de passe est :
<br></br>
<h1><strong>{{ code }}</strong></h1>
<br></br>
Vous pouvez vous reconnecter avec ce mot de passe.<br>
Bien cordialement
