{% extends 'base.html.twig' %}


{% block body %}
{{ form_start(form) }}
<div>
    <h1>Supprimer cet article</h1>
</div>
<br>
<br>
<br>
<h4>Voulez-vous vraiment supprimer cet article ?</h4>
<br>
<br>
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}

{% block footer %}

<footer class="text-muted">
    <div class="container">
        <a href="{{ path('home', {'_fragment':'album'}) }}" class="btn btn-outline-warning btn-sm float-right">Retour</a>
        <p>Site construit à l'aide de &copy; Bootstrap</p>
    </div>
</footer>

{% endblock %} 