{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
{{ form_start(form) }}
<div>
    <h1>Signaler ... ?</h1>
</div>
<br>
<br>
<br>
<h4>Voulez-vous vraiment signaler ce commentaire ?</h4>
<br>
<br>
{{ form_widget(form) }}

{{ form_end(form) }}
{% endblock %}

{% block footer %}

<footer class="text-muted">
    <div class="container">
        <a href="{{ path('home', {'_fragment':'album'}) }}" class="btn btn-outline-warning btn-sm float-right">Retour</a>
        <p>Site construit à l'aide de &copy; Bootstrap  & Symfony 4 </p>
    </div>
</footer>

{% endblock %}