{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Page inconnue ...</h1>
    
        <p>
            La page recherchée est inconnue. Corrigez son URL
            sinon <a href="{{ path('home') }}" class="btn btn-warning">Page d'acceil</a>.
        </p>
    </div>
{% endblock %}