<div class="col-4 p-2" id="video-{{ form.vars.name }}">
    <div class="border p-2 w-100">
        {{ form_row(form.name) }}
        <button type="button" class="btn-btn-sm btn-danger btn-remove" data-rel="#video-{{ form.vars.name }}">Supprimer</button>
    </div>
</div>
